---
title = "my title"
description = "my description"
---
{{#> layout-default}}
<div class="container mx-auto bg-white shadow p-4">
  <p>Hello, World!</p>
  <p>current environment: "<script>document.write(config.environment)</script>"</p>
</div>
{{/layout-default}}
